{
	"extends": ["eslint:recommended", "plugin:@sap/cds/recommended"],
	"env": {
		"es2022": true,
		"node": true,
		"jest": true,
		"mocha": true
	},
	"globals": {
		"SELECT": true,
		"INSERT": true,
		"UPSERT": true,
		"UPDATE": true,
		"DELETE": true,
		"CREATE": true,
		"DROP": true,
		"CDL": true,
		"CQL": true,
		"CXL": true,
		"cds": true
	},
	"plugins": ["ui5"],
	"rules": {
		"no-console": [
			"warn",
			{
				"allow": ["warn", "error"]
			}
		],
		"require-atomic-updates": 0,
		"no-debugger": 2,
		"ui5/hungarian-notation": 2,
		"@sap/cds/min-node-version": 0,
		"no-empty": 2,
		"semi": 2,
		"no-undef": 0,
		"no-var": 2,
		"no-empty-function": 1,
		"no-unused-vars": 1
	}
}
